* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
    outline: none;
}

input:focus {
    border: 1px solid #2ed3e9;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #000000;
}

textarea {
    border: 2px solid #e2e8f0;
    border-radius: 1.0rem;
    padding: 10px;
    outline: none;
}

textarea:focus {
    border: 2px solid #2ed3e9;
    transition: 0.5s;
}

header {
    border-bottom: 2px solid #e2e8f0;
    box-sizing: border-box;
    margin: 0 0 1% 0;
}

#nomeSite {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0 1%;
}

.avisoPgVazia {
    color: #b9b9b9;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 20% 0 0 0;
}

.cabecario {
    margin: 1% 0 1% 1%;
}

button {
    background-color: #fff;
    border: 0 solid #b9b9b9;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1.0rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: 10px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#tituloLogin {
    margin: 5% 0 5% 0;
    font-size: 2.0rem;
    font-weight: 600;
}

#aviso {
    margin: 5% 0 5% 0;
    color: #e92e2e;
}

#tituloCad {
    margin: 5% 0 5% 0;
    font-size: 2.0rem;
    font-weight: 600;
}

#irPgPergunta:hover,
#irPgCadastro:hover,
#irPgLogin:hover,
#editarPe:hover,
#loginBu:hover,
#registroBu:hover,
#EnviarEd:hover,
#enviarResposta:hover,
#enviarPergunta:hover,
#excluirPergunta:hover {
    background-color: #2ed3e9;
    color: #fff;
}

#deslogar:hover,
#excluirPe:hover,
#cancelarEd:hover,
#cancelarEx:hover {
    background-color: #e92e2e;
    color: #fff;
}

#irPgPergunta {
    margin: 0 0 0 74%;
}

#editarPe {
    margin: 1% 0 0 11%;
}

#tiResposta {
    margin: 2% 0 0 2%;
}

#enviarResposta {
    margin: 2% 0 0 2%;
}

#enviarPergunta {
    margin: 0 0 2% 44%;
}

#responder {
    margin: 2% 0 0 2%;
    width: 95%;
    height: 250px;
}

#negarAcesso {
    margin: 0 0 1% 12%;
    color: #e92e2e;
}

.localCriarPerg {
    align-items: center;
    margin: 2% 2% 5% 2%;
    border: 2px solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    padding: 2% 0 0 0;
}

#espacoTitulo {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 3%;
}

#espacoDescricao {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 3%;
}

#titulo {
    margin: 2% 2% 2% 2%;
    width: 95%;
    height: 250px;
}

#descricao {
    margin: 2% 2% 2% 2%;
    width: 95%;
    height: 250px;
}

#avisoCriarPe {
    margin: 0 0 2% 3%;
    color: #e92e2e;
}

.perguntaspgInc {
    margin: 0.5% 10%;
    border: 2px solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #0d172a;
    display: grid;
    line-height: 1;
    padding: 0.5rem 1.0rem;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: 10px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.perguntaspgInc:hover {
    border: 2px solid #2ed3e9;
    transition: 0.5s;
}

#tituloPe {
    margin: 1% 0 0 1%;
}

#descriçaoPe {
    margin: 1% 0 0 1%;
}

#usuarioPe {
    margin: 1% 0 1% 1%;
}

#descriçaoPe {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cadastro {
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 10% 40% 0 40%;
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
}

#usuario,
#email,
#senha {
    margin: 0 0 5% 0;
    width: 90%;
    height: 25px;
    padding: 2%;
}


#registroBu {
    margin: 0 0 10% 0;
}

#irLogar {
    width: 40px;
}

#avisoRe {
    color: #e92e2e;
    margin: 1% 0 1% 2%;
}

.login {
    justify-items: center;
    align-items: center;
    margin: 14% 40% 0 40%;
    text-align: center;
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
}

#emailLo,
#senhaLo{
    margin: 0 0 5% 0;
    width: 90%;
    height: 25px;
    padding: 2%;
}

#loginBu {
    margin: 0 0 5% 0;
}

#mostrar-Pergunta {
    border: 2px solid #e2e8f0;
    border-radius: 1.5rem;
    margin: 0 0 0 10%;
    width: 79.5%;
}

.respostas {
    border: 2px solid #e2e8f0;
    border-radius: 1.5rem;
    margin: 0 10% 0 10%;
}

#mostrarRe {
    border-top: 2px solid #e2e8f0;
    border-bottom: 2px solid #e2e8f0;
}

#repostasDaPergunta {
    justify-items: center;
    margin: 0 3% 3% 3%;
}


#usuarioDaRepostas {
    justify-items: center;
    margin: 2% 3% 2% 3%;
    font-size: 1.0rem;
    font-weight: 600;
}

#usuarioPe-completa {
    margin: 2% 3% 2% 3%;
    font-size: 1.0rem;
    font-weight: 600;
}

#titulo-Completo {
    margin: 2% 3% 2% 3%;
}

#descricao-completa {
    margin: 2% 3% 2% 3%;
}


.modal-content-excluir {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #cbe4e4;
    border-radius: 1.5rem;
    width: 20%;
    height: 20%;
    justify-items: center;
}

#excluirPergunta {
    margin: 0 42% 0 10%;
}

#avisoExluirPe {
    margin: 10% 0 13% 18%;
}

.modal-content-editar {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 2px solid #cbe4e4;
    border-radius: 1.5rem;
    width: 79%;
    height: 83%;
}

#tituloPerguntaEd {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 3%;
}

#descricaoPerguntaEd {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 3%;
}

#edTitulo {
    margin: 2% 2% 2% 2%;
    width: 95%;
    height: 250px;
}

#edDescricao {
    margin: 2% 2% 2% 2%;
    width: 95%;
    height: 250px;
}

#EnviarEd {
    margin: 0 0 0 3%;
}

#cancelarEd {
    margin: 0 0 0 70%;
}

/* Estilo para o modal */
.modal {
    display: none;
    /* Oculta o modal por padrão */
    position: fixed;
    /* Fixa o modal na tela */
    z-index: 1;
    /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura total da tela */
    height: 100%;
    /* Altura total da tela */
    overflow: auto;
    /* Adiciona barra de rolagem se necessário */
    background-color: rgb(0, 0, 0);
    /* Cor de fundo */
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor de fundo com transparência */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    /* Cor de fundo do conteúdo */
    margin: 15% auto;
    /* Margem para centralizar o modal */
    padding: 20px;
    /* Espaçamento interno */
    border: 1px solid #888;
    /* Borda do modal */
    width: 28%;
    /* Largura do conteúdo do modal */
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
}

/* Estilo para o botão de fechar */
.close {
    color: #aaa;
    /* Cor do botão de fechar */
    float: right;
    /* Alinha à direita */
    font-size: 28px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Negrito */
}

/* Estilo para o botão de fechar quando o mouse estiver sobre ele */
.close:hover,
.close:focus {
    color: black;
    /* Cor preta */
    text-decoration: none;
    /* Remove sublinhado */
    cursor: pointer;
    /* Altera o cursor para pointer */
}