body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

#nomeSite {
    font-size: 1.0rem;
    font-weight: 600;
}

header {
    border-bottom: 1px solid #e2e8f0;
    box-sizing: border-box;
    margin: 0 0 1% 0;
}

.cabecario {
    margin: 1% 0 1% 1%;
}

button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1.0rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: 10px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#irPgPergunta:hover,
#irPgCadastro:hover,
#irPgLogin:hover,
#editarPe:hover,
#loginBu:hover,
#registroBu:hover,
#EnviarEd:hover,
#cancelar:hover,
#enviarResposta:hover {
    background-color: #2ed3e9;
    color: #fff;
}

#deslogar:hover,
#excluirPe:hover,
#excluirPergunta:hover {
    background-color: #e92e2e;
    color: #fff;
}

#irPgPergunta,
#irPgCadastro,
#irPgLogin,
#deslogar {
    position: relative;
    left: 63%;
}

#editarPe {
    position: relative;
    top: -130px;
    left: 91%;
}

#excluirPe {
    position: relative;
    top: -90px;
    left: 84.8%;
}

#tiResposta {
    margin: 2% 0 2% 2%;
}

#enviarResposta {
    margin: 2% 0 0 2%;
}

#responder {
    margin: 2% 0 0 2%;
    width: 95%;
    height: 250px;
    vertical-align: text-top;
}

.perguntaspgInc {
    margin: 0.5% 3%;
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #0d172a;
    display: grid;
    line-height: 1;
    padding: 0.5rem 1.0rem;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: 10px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.perguntaspgInc:hover {
    background-color: #d3d2d2;
    transition: 0.5s;
}

#tituloPe {
    margin: 1% 0 0 1%;
}

#descriçaoPe {
    margin: 1% 0 0 1%;
}

#usuarioPe {
    margin: 1% 0 1% 1%;
}

#descriçaoPe {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cadastro {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.login {
    display:grid;
    justify-content: center;
    align-items: center;
    margin: 10% 40% 0 40%;
    text-align: center;
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
}

#loginBu {
    margin: 0 0 10% 0;
}

#emailLo {
    width: 100%;
}

#mostrar-Pergunta {
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
    margin: 0 10% 0 10%;
}

.respostas {
    border: 1px solid #e2e8f0;
    border-radius: 1.5rem;
    margin: 0 10% 0 10%;
}

#mostrarRe {
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
}

#repostasDaPergunta {
    display: grid;
    margin: 0 3% 3% 3%;
}


#usuarioDaRepostas {
    display: grid;
    margin: 2% 3% 2% 3%;
    font-size: 1.0rem;
    font-weight: 600;
}

#usuarioPe-completa {
    margin: 2% 3% 2% 3%;
    font-size: 1.0rem;
    font-weight: 600;
}

#titulo-Completo{
    margin: 2% 3% 2% 3%;
}

#descricao-completa {
    margin: 2% 3% 2% 3%;
}



/* Estilo para o modal */
.modal {
    display: none;
    /* Oculta o modal por padrão */
    position: fixed;
    /* Fixa o modal na tela */
    z-index: 1;
    /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura total da tela */
    height: 100%;
    /* Altura total da tela */
    overflow: auto;
    /* Adiciona barra de rolagem se necessário */
    background-color: rgb(0, 0, 0);
    /* Cor de fundo */
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor de fundo com transparência */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    /* Cor de fundo do conteúdo */
    margin: 15% auto;
    /* Margem para centralizar o modal */
    padding: 20px;
    /* Espaçamento interno */
    border: 1px solid #888;
    /* Borda do modal */
    width: 80%;
    /* Largura do conteúdo do modal */
}

/* Estilo para o botão de fechar */
.close {
    color: #aaa;
    /* Cor do botão de fechar */
    float: right;
    /* Alinha à direita */
    font-size: 28px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Negrito */
}

/* Estilo para o botão de fechar quando o mouse estiver sobre ele */
.close:hover,
.close:focus {
    color: black;
    /* Cor preta */
    text-decoration: none;
    /* Remove sublinhado */
    cursor: pointer;
    /* Altera o cursor para pointer */
}